.padding-32 {
    padding: 32px;
}
  
.info-card {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}

.button-group {
    padding: 10px;
    margin-top: 10px;
}

.example-card {
  max-width: 300px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}