@import '~@angular/material/theming';

@include mat-core();

$theme-light-primary: mat-palette($mat-lime);
$theme-light-accent: mat-palette($mat-pink, A200, A100, A400);
$theme-light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($theme-light-primary, $theme-light-accent, $theme-light-warn);

$theme-dark-primary: mat-palette($mat-blue-grey);
$theme-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$theme-dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($theme-dark-primary, $theme-dark-accent, $theme-dark-warn);

$theme-custom-primary: mat-palette($mat-deep-purple);
$theme-custom-accent: mat-palette($mat-teal, A200, A100, A400);
$theme-custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($theme-custom-primary, $theme-custom-accent, $theme-custom-warn);

.theme-light {
    @include angular-material-theme($light-theme);
}

.theme-dark {
    @include angular-material-theme($dark-theme);
}

.theme-custom {
    @include angular-material-theme($custom-theme);
}

